<!-- blog/templates/blog/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static "blog/base.css" %}">
  <title>My Blog – {% block page_title %}An awesome blog{% endblock %}</title>
</head>

<body>
  {% if messages %}
<div class="django-messages">
  {% for message in messages %}
  <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
  {% endfor %}
</div>
{% endif %}

{# Make a wrapper around the content #}
<div class="wrapper">
  <!-- The header -->
  <header id="site-header">
     <h1>Big Boy Beni</h1>
     <p>My Blog following adventures of Big Boy Beni.</p>
  </header>

  <!-- Top navigation -->
  <nav id="top-nav">
    <ul>
      <li><a href="{% url "home" %}">Home</a></li>
      <li><a href="{% url "about" %}">About</a></li>
      <li><a href="{% url "post-list" %}">Posts</a></li>
      <li><a href="{% url "topic-list" %}">Topics</a></li>
      <li><a href="{% url "photo_contest" %}">Photo Contest</a></li>
      <li><a href="{% url "contact" %}">Contact</a></li>
    </ul>
  </nav>

  <main id="main-content">
      <div>
        {% block main %}
        <!-- Content for the main block will be rendered here -->
        {% endblock %}
      </div>
        {% block side_menu1 %}
      <aside id="sidebar">
        <section id="author-list">
          <h3>Authors</h3>
          <ul>
            {% for author in authors %}
              <li>{{ author.get_username }}</li>
            {% endfor %}
          </ul>
        </section>
        <p>-------------------------------</p>
        <section id="get-topics">
          <h3>Popular Topics</h3>
          <ul>
            {% for topic in get_topics %}
              <li><a href="/topics/{{ topic.slug }}/">{{ topic.name }} </a>
                ({{topic.blog_posts__title__count}})</li>
            {% endfor %}
          </ul>
        </section>
        <p>-------------------------------</p>
        {% block side_menu0 %}
        {% endblock side_menu0 %}
        {% endblock side_menu1 %}
  </main>
<!-- .... ->

  <!-- The footer -->
  <footer id="site-footer">
    <!-- Print copyright with the current year -->
    Copyright &copy;{% now 'Y' %} -
    <a href="{% url "terms-and-conditions" %}">Terms & conditions</a>
  </footer>
  {# close wrapper for massages#}
   </div>
   <script src="{% static "blog/comments.js" %}"></script>
   {% block js %}
     <script src="{% static "blog/csrf.js" %}"></script>
     <script src="{% static "blog/comments.js" %}"></script>
   {% endblock %}
</body>
</html>
