<!-- blog/templates/blog/home.html -->

{% extends "blog/base.html" %}
{% block main %}
<!-- ...content... -->

<p>Welcome to the world of Beni the ornangutan and his friends at the
  Borneo Orangutan Survival Foundation in Borneo.</p>
{% if home.home_image %}
  <img src="{{ get_image.url }}" width="100%" alt="Home image">
{% endif %}
  <section class="latest-article-preview">
    {% for post in latest_posts %}
    {% include "blog/post_preview.html" %}
    {% endfor %}
  </section>
  {% endblock %}

<p>-------------------------------</p>
  {% block side_menu0 %}
  <aside id="sidebar1">

    <section id="get-post">
      <h3>Popular Post</h3>
      <ul>
        {% for post in get_posts %}
          <li>{{ post.title }} ({{ post.comments__count }})</li>
        {% endfor %}
      </ul>
    </section>
  </aside>
  {% endblock side_menu0 %}
