{# blog/templates/blog/post_detail.html #}
{% extends "blog/base.html" %}
{% block page_title %}{{ post.title }}{% endblock %}

{% block main %}
<article id="post-detail-article">
  <h1>{{ post.title }}</h1>
  <span class="published">Published <time>{{ post.published }}</time></span><br>
  <span class="author">by {{ post.author.get_username }}</span>
  <section class="topics">
  Tagged Topics :
  <!--post is the queryset (result) and we need topics for the result -->
  {% for topics in post.topics.all %}
    <td><a href="/topics/{{ topics.slug }}/"> {{ topics.name }} {% if not forloop.last %}, {% endif %} </a></td>
  {% endfor %}
  {% if post.banner %}
    <img src="{{ post.banner.url }}" width="100%" alt="Banner image">
  {% endif %}
  </section>
  <section class="content">{{ post.content|linebreaks|safe }}</section>
</article>
<section class="comments">
  {% if comments %}
    <h3>Latest comments</h3>
    {% for comment in comments %}
      <div class="comment">

        <span class="by-line">By {{ comment.name }} | <time>{{ comment.created }}</time></span>
        {{ comment.text|linebreaks }}
        <td><button type="submit"><a  href="../../../../../api/comments/{{ comment.pk }}/like" target="_blank">
          Like</a></button></td> {{ comment.likes }}      |
         <td><button type="submit"><a  href="../../../../../api/comments/{{ comment.pk }}/dislike" target="_blank">Disike</a></button></td> {{ comment.dislikes }}
      </div>
    {% endfor %}
  {% endif %}
<iframe name="Iframe" style="display:none"></iframe>
  <h3>Leave a comment</h3>
  {# Alias the variable for the included template #}
  {% with form=comment_form %}
    {% include "blog/comment_form.html" %}
  {% endwith %}
</section>
{% endblock %}
